#news-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.content-area {
  position: absolute;
  left: 480px;
  bottom: 0;
  right: 0;
}

.content-area,
#news-wrapper {
  top: 50px;
  
  .admin-bar & {
    top: 82px;
  }
}

.news-items-wrapper {
  width: 480px;
  height: 100%;
  margin-left: 0;
  background: #fff;
  pointer-events: all; 
  padding: 10px;
  padding-top: 0;
  overflow: auto;
}

// 
// Categories
// 

.categories {
  width: 100%;
  font-size: 0;
  padding-bottom: 10px;
  border-bottom: #eee 1px solid;
  position: fixed;
  background: #fff;
  padding-top: 10px;
  width: 460px;
}

.category {
  display: inline-block;
  padding: 0 8px;
  font-size: $font-size-h3;
  text-align: left;
  
  a {
    color: $font-color-base;
    text-decoration: none;

    &.active {
      border-bottom: 2px solid $green;
    }
  }

  img {
    width: 18px;
    opacity: 0.5;
    vertical-align: middle;
    margin-bottom: 2px;
  }

  &.empty {
    opacity: 0.3;
    a {
    cursor: default;
      
    }
  }
}

// 
// News wrapper
// 

.news-item {
  height: 130px;

  .text-wrapper {
    overflow: hidden;
    max-height: 93%;
    padding: 10px;
  }  
  &:nth-child(even) {
    background: #eee;
  }
  .image-wrapper {
    width: 145px;
    overflow: hidden;
    float: left;
  }
}

// 
// News item detail
// 

.news-items {
  padding-top: 40px;
}

.news-image {
  padding-top: 15px;
  max-height: 120px;
  float: left;
  padding-right: 10px;
  margin-left: 7px;
}

.news-item-detail {
  padding-top: 40px;
  
  img {
    max-width: 100%;
  }

  h2 {
    font-size: 18px;
    margin-top: 20px;
  }
  >div {
    margin-bottom: 20px;
  }
}

.buttons-wrapper {
  width: 100%;
  @include clearfix;
}


// 
// Gmaps
// 
  

.gmap-window {
    position: relative;
  
  h2 {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    color: #fff;
    z-index: 2;
    font-size: 20px;
  }

  img {
    max-width: 350px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 120px;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 90%) ;
  }
}  




