#news-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.content-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.content-area,
#news-wrapper {
  top: 50px;
  
  .admin-bar & {
    top: 82px;
  }
}

.news-items-wrapper {
  width: 450px;
  height: 100%;
  margin-left: 90px;
  background: #eeeeee;
  pointer-events: all; 
  padding: 10px;
  overflow: auto;
}

// 
// Categories
// 

.categories {
  width: 100%;
  font-size: 0;
  margin-bottom: 10px;
}

.category {
  display: inline-block;
  padding: 0 8px;
  font-size: $font-size-h3;
  text-align: left;
  
  a {
    color: $font-color-base;
    text-decoration: none;

    &.active {
      border-bottom: 2px solid $green;
    }
  }

  img {
    width: 18px;
    opacity: 0.5;
    vertical-align: middle;
    margin-bottom: 2px;
  }

  &.empty {
    opacity: 0.3;
    a {
    cursor: default;
      
    }
  }
}

// 
// News wrapper
// 

.news-item {
  height: 130px;

  .text-wrapper {
    padding: 10px;
  }  
  &:nth-child(odd) {
    background: #fff;
  }
}

// 
// News item detail
// 

.news-item-detail {
  
}




