// ==========================================================================
// Variables
// ==========================================================================


// Colors


// Sizes

$font-size-main: 14px;

$font-size-h1: 30px;
$font-size-h2: 22px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 13px;


// widths & heights

$width-wrapper: 900px;
$standard-width: 95%;