// ==========================================================================
// Variables
// ==========================================================================


// Colors

$green: #50d488;
$menu-bg: #000;
$font-color-base: #000;

// Sizes

$font-size-main: 14px;

$font-size-h1: 30px;
$font-size-h2: 15px;
$font-size-h3: 15px;
$font-size-h4: 14px;
$font-size-h5: 13px;


// widths & heights

$width-wrapper: 900px;
$standard-width: 95%;

$font-main: 'Droid Sans';